<nav class="navbar navbar-expand-lg navbar-dark dark-color">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item px-3">
	            <a class="nav-link active" aria-current="page" href="{% url 'sugestions' %}">Marketplace</a>
            </li>
            <li class="nav-item px-3">
	            <a class="nav-link active" href="{% url 'register_company' %}">Quero captar</a>
            </li>
            <li class="nav-item px-3">
	            <a class="nav-link active" href="{% url 'list_companies' %}">Minhas empresas</a>
            </li>
            <li class="nav-item px-3">
	            <a class="nav-link active" href="{% url 'logout_view' %}">Sair</a>
            </li>
        </ul>
        </div>
    </div>
</nav>
	  